{%extends "base.html"%}
{%block content%}

Products List
<div>
    <table class="inventory-table">
        <tr class="inventory-tr">
            <th class="inventory-th">Name (click to edit)</th>
            <th class="inventory-th">Description</th>
            <th class="inventory-th">Stock Quantity</th>
            <th class="inventory-th">Buying Cost /unit (£)</th>
            <th class="inventory-th">Selling Price /unit (£)</th>
            <th class="inventory-th">Markup (%)</th>
            <th class="inventory-th">Vendor

            <select name="select_vendor" class="inventory-select-vendor-select" onchange="location=this.value;">
                <option value=""></option>
                {%for vendor in all_vendors%}
                    <option value="/vendors/{{vendor.id}}">{{vendor.name}}</a></option>
                {%endfor%}
            </select>    
            
            </th>
        </tr>
        {%for product in all_products%}
        <tr class="inventory-tr">
            <td class="inventory-td"><a href="/products/{{product.id}}/edit" class="inventory-link">{{product.name}}</a></td>
            <td class="inventory-td">{{product.description}}</td>
            <td class="inventory-td" 
            {%if product.stock_quantity == 0%} style="background-color: red"
            {%elif product.stock_quantity <= 10%} style="color: red"
            {%endif%}>
            {{product.stock_quantity}}</td>
            <td class="inventory-td">{{product.buying_cost}}</td>
            <td class="inventory-td">{{product.selling_price}}</td>
            <td class="inventory-td">{{"{:.2f}".format(((product.selling_price-product.buying_cost)/product.buying_cost)*100)}}</td>
            <td class="inventory-td">{{product.vendor.name}}</td>
        </tr>
        {%endfor%}
    </table>
</div>

{%endblock%}
