{%extends "base.html"%}
{%block content%}

Products List
<div>
    <table class="inventory-table">
        <tr>
            <th class="inventory-th">Name</th>
            <th class="inventory-th">Description</th>
            <th class="inventory-th">Stock Quantity</th>
            <th class="inventory-th">Buying Cost /unit (£)</th>
            <th class="inventory-th">Selling Price /unit (£)</th>
            <th class="inventory-th">Vendor Name</th>
        </tr>
        {%for product in all_products%}
        <tr>
            <td class="inventory-td"><a href="/products/{{product.id}}/edit">{{product.name}}</a></td>
            <td class="inventory-td">{{product.description}}</td>
            <td class="inventory-td" 
            {%if product.stock_quantity == 0%}style="background-color: red"
            {%elif product.stock_quantity <= 10%}style="color: red"
            {%endif%}>
            {{product.stock_quantity}}</td>
            <td class="inventory-td">{{product.buying_cost}}</td>
            <td class="inventory-td">{{product.selling_price}}</td>
            <td class="inventory-td">{{product.vendor.name}}</td>
        </tr>
        {%endfor%}
    </table>
</div>

{%endblock%}
