{%extends "base.html"%}
{%block content%}

<div class="products-new-page">

  <div class="products-new-form">
    <form action="/products" method="post">

      <div class="products-name">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Name" required autofocus>
      </div>

      <div class="products-description">
        <label for="description">Description:</label>
        <textarea type="text" id="description" name="description" placeholder="Description" required rows=4 cols=20></textarea>
      </div>

      <div class="products-stock-quantity">
        <label for="stock_quantity">Stock Quantity:</label>
        <input type="number" id="stock_quantity" name="stock_quantity" placeholder="Stock Quantity" required>
      </div>

      <div class="products-buying-cost">
        <label for="buying_cost">Buying Cost /unit (£):</label>
        <input type="number" id="buying_cost" name="buying_cost" placeholder="Buying Cost" step="any" required>
      </div>

      <div class="products-selling-price">
        <label for="selling_price">Selling Price /unit (£):</label>
        <input type="number" id="selling_price" name="selling_price" placeholder="Selling Price" step="any" required>
      </div>

      <div class="products-vendor-id">
        <label for="vendor_id">Vendor:</label>
        <select id="vendor_id" name="vendor_id">
          {%for vendor in all_vendors%}
            {%if vendor.active == True%}
              <option value="{{vendor.id}}">{{vendor.name}}</option>
            {%endif%}
          {%endfor%}
        </select>
      </div>

        <div class="products-submit">
          <button type="submit" id="products-new-submit">Add Product</button>
        </div>

    </form>
  </div>

  <br><br><br>

  <div class="products-smart-search">
    <h2>Add item by image</h2>
    <br>
    <form action="/products/new/upload-image" method="post">
      <button type="submit" id="smart-search">Smart Search</button>
    </form>
  </div>

</div>
{%endblock%}
