/* all */
* {
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}

.bg-white {
    background-color: white;
}

/* base.html */
/* header */
.base-header {
    position: fixed;
    width: 100%;
    background-color: #203647;
    display: flex;
    flex-flow: row nowrap;
    padding: 0.5%;
}

.base-titles {
    color: white;
    /* border: 1px white solid; */
    padding-right: 5%;
    padding-left: 2%;
    align-self: center;
    background-color: #203647;
}

.base-titles > h1 {
    padding-bottom: 3%;
    font-size: 215%;
    background-color: #203647;
}

.base-titles > h2 {
    text-align: center;
    background-color: #203647;
}

.base-nav {
    color: white;
    display: flex;
    flex-flow: row;
    width: 60%;
    /* border: 1px white solid; */
    padding-left: 5%;
    padding-right: 5%;
    align-self: center;
    background-color: #203647;
}

.base-nav > ul {
    display: flex;
    flex-flow: row;
    list-style: none;
    background-color: #203647;
}

.base-nav > ul > li {
    padding: 5%;
    font-size: 115%;
    text-align: center;
    align-self: center;
    margin-right: 7.5%;
    background-color: #203647;
}

.base-nav-li-a {
    color: white;
    text-decoration: none;
    font-size: 125%;
    background-color: #203647;
}

.base-nav-li-a:hover {
    background-color: lightgray;
    color: black;
    background-color: #203647;
}

/* content block */
.content-block {
    padding-top: 7%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    background-color: gainsboro;
}


/* index.html */
.index-overview-figures {
    /* border: 1px black solid; */
    padding: 1%;
    margin-top: 2.5%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 140%;
    text-align: center;
}

.index-number-product-types {
    background-color: white;
    border: 1px black solid;
    padding: 2%;
}

.index-number-product-types > h3 {
    background-color: white;
}

.index-total-units {  
    background-color: white;
    border: 1px black solid; 
    padding: 2%;
}

.index-total-units > h3 {
    background-color: white;
}

.index-number-vendors {
    background-color: white;
    border: 1px black solid;
    padding: 2%;
}

.index-number-vendors > h3 {
    background-color: white;
}

.index-total-stock {
    background-color: white;
    border: 1px black solid;
    padding: 3%;
}

.index-total-stock > h3 {
    background-color: white;
}

.index-charts {
    /* border: 1px black solid; */
    padding: 1%;
    margin-top: 1.2%;
    padding-bottom: 5%;
    display: flex;
    flex-flow: row nowrap;
    font-size: 125%;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

.index-best-markup-chart {
    border: 1px black solid;
    padding: 2%;
    width: 50%;
    margin-right: 2%;
    background-color: white;
}

#index-best-markup-chart-image {
    /* border: 1px black solid; */
    width: 75%;
}

.index-low-stock-chart {
    border: 1px black solid;
    padding: 1.55%;
    margin-left: 2%;
    background-color: white;
}

#index-lowest-stock-chart-image {
    /* border: 1px black solid; */
}


/* products/index.html */
.inventory-table {
    border: 3px solid black;
    width: 95%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    /* background-color: white; */
    align-self: center;
    align-items: center;
    font-size: 115%;
}

.inventory-table-div {
    align-self: center;
}

.inventory-th {
    border: 2px solid black;
    padding: 1%;
    font-size: 130%;
    width: 10%;
    padding: 2.25%;
    font-weight: bolder;
    background-color: white;
}

.inventory-td {
    border: 1px solid black;
    padding: 1%;
    /* background-color: white; */
}

.inventory-tr {
    /* background-color: lightblue; */
    border: 1px solid black;
}

.inventory-tr:nth-child(odd) > td {
    background-color: white;
}

.inventory-tr:nth-child(even) > td {
    background-color: gainsboro;
}

.inventory-tr:nth-child(even) > td > form {
    background-color: gainsboro;
}

.inventory-tr:nth-child(even) > td > form > .trash-button {
    background-color: gainsboro;
}

.inventory-tr:nth-child(even) > td > .inventory-link {
    background-color: gainsboro;
}

.inventory-link {
    text-decoration: none;
    background-color: white;
}

.inventory-select-vendor-select {
    width: 13%;
}

.inventory-delete-form {
    background-color: gainsboro;
}

.inventory-delete-form {
    background-color: white;
}

.inventory-delete-column {
    background-color: white;
}

.trash-button {
    background-color: white;
}

.trash-button {
    height: 60%;
    width: 60%;
    /* color: red; */
    /* background-color: transparent; */
    border: none;
    align-items: center;
    background-color: white;
}

.inventory-select-vendor-select {
    width: 20%;
}


/* vendors/index.html */
.vendors-table {
    border: 3px solid black;
    width: 95%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    /* background-color: white; */
    align-self: center;
    align-items: center;
    font-size: 115%;
}

.vendors-table-div {
    align-self: center;
}

.vendors-th {
    border: 2px solid black;
    padding: 1%;
    font-size: 130%;
    width: 10%;
    padding: 2.25%;
    font-weight: bolder;
    background-color: white;
}

.vendors-td {
    border: 1px solid black;
    padding: 1%;
    /* background-color: white; */
}

.vendors-tr:nth-child(even) > td {
    background-color: gainsboro;
}

.vendors-tr:nth-child(odd) > td {
    background-color: white;
}

.vendors-tr:nth-child(even) > td > form > .trash-button {
    background-color: gainsboro;
}

.vendors-tr:nth-child(odd) > td > .vendors-link {
    background-color: white;
}

.vendors-tr:nth-child(odd) > td > .vendors-delete-form {
    background-color: white;
}

.vendors-link {
    text-decoration: none;
}



/* /products/new.html */
.products-new-form {
    margin-top: 5%;
    /* border: 3px black solid; */
    font-size: 155%;
    text-align: right;
    width: 50%;
    padding-bottom: 2%;
}

.products-name {
    /* border: 1px black solid; */
    padding: 0.5%;
}

#name{
    height: 55px;
    width: 400px;
    font-size: 100%;
    background-color: white;
    vertical-align: middle;
    border: 1px black solid;
    text-align: center;
}

.products-description {
    /* border: 1px black solid; */
    padding: 0.5%;
}

#description{
    height: 55px;
    width: 400px;
    font-size: 120%;
    background-color: white;
    vertical-align: middle;
    text-align: center;
}

.products-stock-quantity {
    /* border: 1px black solid; */
    padding: 0.5%;
}

#stock_quantity{
    height: 55px;
    width: 400px;
    font-size: 100%;
    background-color: white;
    vertical-align: middle;
    border: 1px black solid;
    text-align: center;
}

.products-buying-cost {
    /* border: 1px black solid; */
    padding: 0.5%;
}

#buying_cost{
    height: 55px;
    width: 400px;
    font-size: 100%;
    background-color: white;
    vertical-align: middle;
    border: 1px black solid;
    text-align: center;
}

.products-selling-price {
    /* border: 1px black solid; */
    padding: 0.5%;
}

#selling_price{
    height: 55px;
    width: 400px;
    font-size: 100%;
    background-color: white;
    vertical-align: middle;
    border: 1px black solid;
    text-align: center;
}

.products-vendor-id {
    /* border: 1px black solid; */
    padding: 0.5%;
}

#vendor_id{
    height: 55px;
    width: 400px;
    font-size: 100%;
    background-color: white;
    vertical-align: middle;
    border: 1px black solid;
    text-align: center;
}

.products-submit {
    /* border: 1px black solid; */
    padding: 0.5%;
    padding-right: 15%;
}

#products-new-submit {
    height: 40px;
    width: 200px;
    font-size: 100%;
    background-color: white;
    vertical-align: middle;
    border: 1px black solid;
    text-align: center;
}

.products-smart-search {
    /* border: 1px black solid; */
    padding: 0.5%;
    padding-top: 15%;
    text-align: center;
}

#smart-search {
    height: 40px;
    width: 175px;
    font-size: 100%;
    background-color: white;
    vertical-align: middle;
    border: 1px black solid;
    text-align: center;
}

.products-new-page {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}



/* vendors/new.html */
.vendors-new-page {
    padding: 1%;
    margin-top: 5%;
    /* border: 1px black solid; */
    width: 100%;
    font-size: 155%;
    text-align: center;
    padding-bottom: 2%;
}

.vendors-name {
    padding: 1%;
}

.vendors-active {
    padding: 1%;
}

.vendors-submit {
    padding: 1%;
}

#active {
    height: 25px;
    width: 25px;
    font-size: 100%;
    vertical-align: middle;
    padding: 1%;
}

#vendors-new-submit {
    height: 40px;
    width: 200px;
    font-size: 100%;
    background-color: white;
    vertical-align: middle;
    border: 1px black solid;
    text-align: center;
}



/* products/upload.html */
.products-upload-page {
    margin-top: 4%;
    font-size: 160%;
    /* border: 1px black solid; */
    padding: 2%;
    text-align: center;
    align-self: center;
    padding-left: 10%;
}

#images {
    margin: 2%;
    font-size: 80%;
}

.smart-new-submit-class {
    padding-right: 15%;
}

#upload-button {
    height: 35px;
    width: 125px;
    font-size: 100%;
    background-color: white;
    vertical-align: middle;
    text-align: center;
    border: 1px black solid;
    margin: 2%;
    vertical-align: middle;
}

