/* all */
* {
    margin: 0;
    padding: 0;
}

/* base.html */
/* header */
.base-header {
    position: fixed;
    width: 100%;
    background-color: #203647;
    display: flex;
    flex-flow: row nowrap;
    padding: 0.5%;
}

.base-titles {
    color: white;
    /* border: 1px white solid; */
    padding-right: 5%;
    padding-left: 2%;
    align-self: center;
}

.base-titles > h1 {
    padding-bottom: 3%;
    font-size: 215%;
}

.base-titles > h2 {
    text-align: center;
}

.base-nav {
    color: white;
    display: flex;
    flex-flow: row;
    width: 60%;
    /* border: 1px white solid; */
    padding-left: 5%;
    padding-right: 5%;
    align-self: center;
}

.base-nav > ul {
    display: flex;
    flex-flow: row;
    list-style: none;
}

.base-nav > ul > li {
    padding: 5%;
    font-size: 115%;
    text-align: center;
    align-self: center;
    margin-right: 7.5%;
}

.base-nav-li-a {
    color: white;
    text-decoration: none;
    font-size: 125%;
}

.base-nav-li-a:hover {
    background-color: lightgray;
    color: black;
}

/* content block */
.content-block {
    padding-top: 10%;
    padding-left: 1.5%;
    padding-right: 1.5%;
}


/* index.html */
.index-overview-figures {
    border: 1px black solid;
    padding: 1%;
    margin-top: 2.5%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    font-size: 125%;
    text-align: center;
}

.index-number-product-types {
}

.index-total-units {   
}

.index-number-vendors {
}

.index-total-stock {
}

.index-charts {
    padding: 1%;
    margin-top: 3%;
    padding-bottom: 5%;
    border: 1px black solid;
    display: flex;
    flex-flow: row nowrap;
    font-size: 125%;
    text-align: center;
    justify-content: space-evenly;
}

.index-best-markup-chart {
    border: 1px black solid;
    padding: 2%;
    width: 50%;
}

#index-best-markup-chart-image {
    border: 1px black solid;
}

.index-low-stock-chart {
    border: 1px black solid;
    padding: 2%;
}

#index-lowest-stock-chart-image {
    border: 1px black solid;
}


/* products/index.html */
.inventory-table {
    border: 1px solid black;
    width: 100%;
}

.inventory-th {
    border: 2px solid black;
    padding: 1%;
    font-size: 110%;
    width: 10%;
}

.inventory-td {
    border: 1px solid black;
    padding: 1%;
}

.inventory-tr:nth-child(even) {
    background-color: #b2b2b2;
}

.inventory-link {
    text-decoration: none;
}

.inventory-select-vendor-select {
    width: 13%;
}

.inventory-delete-column {
    width: 500%;
}

.trash-button {
    height: 50%;
    width: 50%;
    background-color: transparent;
    border: none;
    align-items: center;
}


/* vendors/index.html */
.vendors-table {
    border: 1px solid black;
    width: 55%;
}

.vendors-th {
    border: 2px solid black;
    padding: 1%;
    font-size: 110%;
}

.vendors-td {
    border: 1px solid black;
    padding: 1%;
}

.vendors-tr:nth-child(even) {
    background-color: #b2b2b2;
}

.vendors-link {
    text-decoration: none;
}
