<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>{{heading}} - Inventory Manager</title>
</head>
<body>
  <header class="base-header">
    <div class="base-titles">
      <h1>Inventory Manager</h1>
      <h2>{{heading}}</h2>
    </div>
    <nav class="base-nav">
      <ul>
        <li><a href="/" class="base-nav-li-a">Dashboard</a></li>
        <li><a href="/products" class="base-nav-li-a">Inventory</a></li>
        <li><a href="/vendors" class="base-nav-li-a">Vendors</a></li>
        <li><a href="/products/new" class="base-nav-li-a">Add Product</a></li>
        <li><a href="/vendors/new" class="base-nav-li-a">Add Vendor</a></li>
      </ul>
    </nav>
  </header>
  <div class="content-block">
    {%block content%}
    {%endblock%}
  </div>
</body>
</html>
