{%extends "base.html"%}
{%block content%}

<div class="index-overview-figures">
    <div class="index-number-product-types">
        <h3>Product types: <br><br>{{number_product_types}}</h3>
    </div>
    <div class="index-total-units">
        <h3>Total number units: <br><br>{{number_all_units}}</h3>
    </div>
    <div class="index-number-vendors">
        <h3>Number vendors: <br><br>{{number_vendors}}</h3>
    </div>
    <div class="index-total-stock">
        <h3>Stock value: <br><br>£{{total_stock_value}}</h3>
    </div>
</div>

<div class="index-charts">
    <div class="index-best-markup-chart">
        <div>
            <h3>Most Profitable Product</h3>
            <br>
        </div>
        <div>
            <div>
                <img src="{{url_for('piechart', rank=0)}}" alt="Most Profitable Product" id="index-best-markup-chart-image">
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="index-low-stock-chart">
        <div>
            <h3>Lowest Stock Products</h3>
            <br>
        </div>
        <div>
            <img src="{{url_for('barchart')}}" alt="Lowest Stock Products" id="index-lowest-stock-chart-image">
        </div>
    </div>
</div>

{%endblock%}
