{%extends "base.html"%}
{%block content%}

<div class="dashboard-overview-figures">
    <div>
        <h3>Number of products type: <br>{{number_product_types}}</h3>
    </div>
    <div>
        <h3>Total number of all units: <br>{{number_all_units}}</h3>
    </div>
    <div>
        <h3>Number of vendors: <br>{{number_vendors}}</h3>
    </div>
    <div>
        <h3>Total stock value: <br>£{{total_stock_value}}</h3>
    </div>
</div>

<div class="dashboard-best-markup-charts">
    <div>
        <h3>Most Profitable Product</h3>
    </div>
    <div>
        <div>
            <img src="{{url_for('piechart', rank=0)}}" alt="Most Profitable Product">
        </div>
    </div>
</div>
<br><br><br>
<div class="dashboard-low-stock">
    <div>
        <h3>Lowest Stock Products</h3>
    </div>
    <div>
        <img src="{{url_for('barchart')}}" alt="Lowest Stock Products">
    </div>
</div>

{%endblock%}
